body {
    background-color : #101728;
    color : white;
    font-family : "Codec Pro ExtraBold", sans-serif;
}

body :not(header .nav){
    margin-left : 20px;
}

p{
    font-size : 20px;
}

#rouge > p{
    color : #ff3131;
    font-size : 50px;
}

.nav {
    background-color: #281010;
    display: flex;
    align-items: center;       
    justify-content: center;  
    gap: 20px;   
    padding: 10px;
    justify-content: space-evenly;
    flex-wrap : wrap;
}

.nav > p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

a.bouton {
    padding: 8px 8px;
    color: white;
    background-color: #8f2424;
    text-decoration: none;
    flex-wrap: nowrap;
    text-align: center;
    width: 150px;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
}

a.bouton2 {
    padding: 8px 8px;
    color: white;
    background-color: #122557;
    text-decoration: none;
    flex-wrap: nowrap;
    text-align: center;
    width: 150px;
    height: 20px;
    margin: 0 auto;
    vertical-align: middle;
}

a.bouton:hover {
    background-color: #612e2e;
    cursor: pointer;
}

a.bouton2:hover {
    background-color: #314475;
    cursor: pointer;
}

.intro {
    font-size : 150%;
    margin-bottom: 60px;
}

.marge {
    margin-bottom : 100px;
}


footer div img {
    border-radius: 50%; 
    width: 250px; 
    height: 250px; 
    object-fit:cover;
}

footer .gauche {
    float: left;
}

footer .droite {
    float: right;
}

footer div {
    flex-wrap : nowrap;
    justify-content: space-around;
}